.espacoo {
    height: 120px;
}



.AreaVd {
    margin: 0;
    width: 1908px;
    height: 808px;
    background: #A2AADB;
    border: #A2AADB solid;
    border-radius: 4%;
    box-shadow: 0px 20px 30px #000;
    margin-top: 70px;
}

.AreaVd {
    margin: 0;
    display: flex;
}

.textoM{
    margin: 0;
    margin-top: 20px;
}

h1{
    color: #fff;
    text-align: center;
    font-size: 50px;
    padding-top: -20px;
}

.video-card {
    width: 400px; 
    margin: 40px auto; 
    padding: 15px;
    background: #b384e9;
    border-radius: 15px;
    box-shadow: 0 8px 18px rgba(0,0,0,0.4);
}

video {
    width: 100%;
    outline: none;
}

.form-container {
    width: 480px;
    height: 680px;
    margin: 40px auto;
    padding: 25px;
    background: #ad96e2;
    border-radius: 18px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.45);
    color: white;
    font-family: Arial;
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
}

.form-container label {
    display: block;
    margin: 8px 0 4px;
    font-size: 14px;
}

.form-container input {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: none;
    margin-bottom: 12px;
    background: #2c2c2c;
    color: white;
    font-size: 15px;
}

.form-container button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 05px;
    background: #4e82ff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
}

.form-container button:hover {
    background: #3b6ce0;
}

